<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
  <title>Cat Board</title>
</head>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="content">
  <div class="container">
    <h1>Cat Board</h1>
    <table class="table">
      <thead>
      <tr>
        <th>순번</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일자</th>
      </tr>
      </thead>
      <tbody>
        <tr th:each="catboarddto :${list}">
          <td th:text="${catboarddto.idx}"></td>
          <td>
            <a th:href="@{/CatBoard/DetailView(idx=${catboarddto.idx})}" th:text="${catboarddto.title}"></a>
          </td>
          <td th:text="${catboarddto.name}"></td>
          <td th:text="${#temporals.format(catboarddto.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/CatBoard/WirteForm}" class="btn btn-primary">글쓰기</a>
  </div>
</th:block>
</html>