<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <title>content</title>
</head>
<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="content">
    <div class="container-fo">
        <div class="row m-3">
            <div class="co1-3"></div>
            <div class="co1-6" style="overflow:hidden; height:400px;">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner rounded">
                        <div class="carousel-item active" style="height:400px;">
                            <img th:src="@{images/hello_07.jpg}" class="d-block w-100" alt="cat image">
                        </div>
                        <div class="carousel-item" style="height:400px;">
                            <img th:src="@{images/hello_06.jpg}" class="d-block w-100" alt="cat image">
                        </div>
                        <div class="carousel-item" style="height:400px;">
                            <img th:src="@{images/hello_03.jpg}" class="d-block w-100" alt="cat image">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div><!--    캐로셀 div-->
            </div>
            <div class="co1-3"></div>
        </div>

        <h1>Cat meeting!</h1>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 d-flex">
                <div class="card m-3" style="width: 18rem;">
                    <img th:src="@{images/hello_01.jpg}" class="card-img-top" alt="cat image">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem;">
                    <img th:src="@{images/hello_03.png}" class="card-img-top" alt="cat image">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card m-3" style="width: 18rem;">
                    <img th:src="@{images/hello_04.jpg}" class="card-img-top" alt="cat image">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div><!--            col-10-->
            <div class="col-1"></div>

        </div>
    </div>
</th:block>
</html>