<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
  <title>content</title>
</head>
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script"></th:block>

<th:block layout:fragment="content">
  <div class="container">
    <div style="overflow:hidden; height:500px;">
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height:500px;">
            <img th:src="@{images/hello_07.jpg}" class="d-block w-100" alt="cat image">
          </div>
          <div class="carousel-item" style="height:500px;">
            <img th:src="@{images/hello_06.jpg}" class="d-block w-100" alt="cat image">
          </div>
          <div class="carousel-item" style="height:500px;">
            <img th:src="@{images/hello_03.jpg}" class="d-block w-100" alt="cat image">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><!--    캐로셀 div-->
    </div><!--        container-->

    <div class="row m-5">

      <div class="col">
        <div class="card border-light" style="width: 18rem;">
          <div class="card-body me-1">
            <h3 class="card-title fw-bold">Card title</h3>
            <!--            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
              leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div><!--        card 1-->
      </div>

      <div class="col">
        <div class="card border-light" style="width: 18rem;">
          <div class="card-body me-1">
            <h3 class="card-title fw-bold">Card title</h3>
            <!--            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
              leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div><!--        card 1-->
      </div>

      <div class="col">
        <div class="card border-light" style="width: 18rem;">
          <div class="card-body me-1">
            <h3 class="card-title fw-bold">Card title</h3>
            <!--            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
              leap into electronic typesetting, remaining essentially unchanged.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div><!--        card 1-->
      </div>

      </div>


    </div>

  </div><!--  container-fo-->
</th:block>
</html>