<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="headerFragment">
  <nav class="navbar navbar-expand-lg bg-light" style="height: 70px;">
    <div class="container">
      <div>
        <a class="navbar-brand" th:href="@{/}">Start Boot</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               th:href="@{/CatBoard}">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               th:href="@{/FreeBoard}">FreeBoard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"
               th:href="@{/Member/SignUp}">SignUp</a>
          </li>
        </ul>
      </div>
    </div><!--container-->
  </nav>
</div>
</html>